
@import url(./fonts.css);

body{
    margin:0;
    font-family: "Roboto";

}

.text-outline-dark{
        text-shadow:
          -1px -1px 0 #000,
           0   -1px 0 #000,
           1px -1px 0 #000,
           1px  0   0 #000,
           1px  1px 0 #000,
           0    1px 0 #000,
          -1px  1px 0 #000,
          -1px  0   0 #000;
}

.navbar{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbar .navbar-brand{
    padding: 0 2rem 0 3rem;
}
 
.breadcrumb{
    background:rgba(0,0,0,0);
    margin-left:10%;
}

.container .carousel{
    transition-duration: 1s;
}

.container .carousel:hover{
    box-shadow: 0 4px 8px 0 rgba(116, 116, 116, 0.2), 0 6px 20px 0 rgba(75, 75, 75, 0.19);
}

.container .carousel .carousel-inner{
    border-radius: 3px;
}

.card{
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card-body {
    padding:5px;
    margin: 0 0;
}

.HomeNav-devInfo{
    color:grey;
    margin:0;
    padding:0;
}

.HomeNav-GameTitle{
    font-family:'Lucida Sans';
    font-style: italic;
    color:honeydew;
}

.numberCircle {
    border-radius: 15px;
    width: 32px;
    height: 32px;
    padding: 3px;

    background: rgb(252, 113, 0);
    border: 1px solid rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: center;

    font: 14px Arial, sans-serif;
}

.card-main-info{
    padding-left: 1em;
    padding-top: 1em;
}

.card-secondary-info{
    padding-left: 1em;
    padding-bottom: 0.5em;
    color:gray;
}

.card-categories{
    padding-left: 1em;
}

.category-box{
    border-style: solid;
    border-color: gray;
    border-radius: 1em;
    border-width: 1px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
}

.wishlist-indicator{
    z-index: 2;
    color: rgb(253, 253, 253);
    background: rgba(0, 0, 0, 0.384);
    border-radius: 10px;
    width: 20px;
    position: absolute;
    display:none;
    left:90%;
    top: 5px;
}

.card:hover .wishlist-indicator{
    display:block;
}

.wishlist-indicator:hover{
    color:gray;
}

.hover-darken:hover {
    filter: brightness(90%);
}

.hover-brighten:hover {
    filter: brightness(90%);
}